$main-color : #FDB657;
$sub-color:#F76B40;
$white-color: #FFFFFE;
$black-color:#303639;
$gold-color:#A47B48;


html {
    font-size: 62.5%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
/*
.flexbox{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
*/

.headings{
    text-align: center;
}

.header{
    height: 100%;
    background-image: url("../../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.description{
    height: 1000px;

}
.first{
    height: 300%;
    background-image: url("../../images/point.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
/*
.second{
    height: 100%;
    background-image: url("../../images/2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.third{
    height: 100%;
    background-image: url("../../images/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
*/
.download{
    padding-top: 100px;
    padding-bottom: 100px;
    .download_heading{
        margin-bottom: 100px;
        font-size: 2rem;
        color: $black-color;
        letter-spacing: 1rem;
    }
    .download_button{
        display: block;
        margin: 50px auto;
        width: 200px;
    }
}

.share{
    padding-top: 100px;
    height: 500px;
    background-color: $main-color;
    .share_heading{
        margin-bottom: 100px;
        font-size: 2rem;
        color: $white-color;
        letter-spacing: 1rem;
    }
    .icons{
        margin: 50px auto;
        width: 300px;
        /*
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        */

        .icon{
            border: 1px solid $white-color;
            border-radius: 50%;
        }
        .twitter{
            display: block;
            font-size: 10rem;
        }
        .facebook{
            display: block;
            font-size: 10rem;
        }
    }
}



.footer{
    padding: 15px;
    p{
        text-align: center;
        letter-spacing: 1rem;
    }
}
