$main-color : #FDB657;
$sub-color:#F76B40;
$white-color: #FFFFFE;
$black-color:#303639;
$gold-color:#A47B48;
$twitter-color:#00aced ;
$facebook-color:#305097 ;
$yellow-color:#f6cc4c;


html {
    font-size: 62.5%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-family : YuGothic, '游ゴシック', sans-serif;

}
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
/*
.flexbox{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
*/

.headings{
    text-align: center;
}

.header{
    height: 100%;
    background-image: url("../../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.description{
    height: 100%;
    background-image: url("../../images/section2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.first{
    height: 280%;
    background-image: url("../../images/p.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/*
.second{
    height: 100%;
    background-image: url("../../images/2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.third{
    height: 100%;
    background-image: url("../../images/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}
*/
.download{
    padding-bottom: 50px;
    .download_heading{
        margin-bottom: 100px;
        font-size: 2rem;
        color: $black-color;
        letter-spacing: 1rem;
    }
    .container{
        width: 135px;
        margin: 0 auto;
    }
    .download_button{
        text-align: center;
        display: block;
        margin: 50px auto;
    }
}

.share{
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: $black-color;
    .share_heading{
        margin-bottom: 100px;
        font-size: 5rem;
        color: $white-color;
        letter-spacing: 1rem;
    }
    .icons{
        margin: 50px auto;
        width: 500px;
        /*
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:center;
        */
        .icon{
            border: 1px solid $white-color;
            border-radius: 50%;
            display: block;
            float: left;
            margin: 0 5px 5px 0;
            padding: 0;
            color: #fff;
        }
        .icon:hover i {
            transform:scale(1.2);
            transition: 0.6s;
        }

        .twitter{
            width: 100px;
            height: 100px;
            margin: 0;
            border-radius: 50%;
            border: 1px solid $twitter-color;
            background: $twitter-color;
            line-height: 100px;
            text-align: center;
            font-size: 5rem;
            margin-left: 90px;
        }
        .twitter:before{
            padding : 0;
            line-height: 100px;
        }
        .facebook{
            width: 100px;
            height: 100px;
            margin: 0;
            border-radius: 50%;
            border: 1px solid $facebook-color;
            background: $facebook-color;
            line-height: 100px;
            text-align: center;
            font-size: 5rem;
            margin-left: 110px;
        }
        .facebook:before {
            padding: 0;
            line-height: 50px;
        }

    }
}



.footer{
    padding: 30px;
    color: $white-color;
    background: $black-color;
    p{
        font-size: 2rem;
        text-align: center;
        letter-spacing: 1rem;
    }
}
